.progress-bar {
  background-color: var(--vscode-progressBar-background);
  display: none;
  position: absolute;
  left: 0;
  width: 2%;
  height: 2px;
}

.progress-bar {
  animation-name: progress;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(100);
  transform: translateZ(0);
}

.progress-bar.loading {
  display: block;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(1);
  }

  50% {
    transform: translateX(2500%) scaleX(3);
  }

  to {
    transform: translateX(4900%) scaleX(1);
  }
}
